%h2.text-center.mb-3 #{current_user.name}さんのプロフィール

.text-center.mb-3
  = link_to '家族ページへ', family_path, class: 'btn btn-outline-secondary btn-sm'

.row.justify-content-center
  .col-md-8
    - if current_user.badges.exists?
      %h4.card-title.text-center.mb-3 獲得したバッジ
      .row
        - current_user.badges.each do |badge|
          .col-md-4.col-sm-6.mb-4
            .text-center
              .award-badge.m-auto.mb-2
                %i.bi.bi-award
              %strong= badge.name
              %br
              %small.text-muted= badge.description

    - else
      %p.text-center.text-muted.mb-0
        まだバッジを獲得していません
