.row.justify-content-center
  .col-md-6
    = simple_form_for([family], url: family_path) do |f|
      .form-inputs
        = f.input :name, autofocus: true

      .form-actions.text-center.mt-3
        = f.button :submit, class: 'btn btn-outline-primary'
