.role-father {
  background-color: #4dabf7;
  color: #ffffff;
}

.role-mother {
  background-color: #f783ac;
  color: #ffffff;
}

.role-grandpa {
  background-color: #f59f00;
  color: #4a2c00;
}

.role-grandma {
  background-color: #63e6be;
  color: #064635;
}
